 <!-- Column Chart for top 3 coins -->
<div class="container1" id="coinchart">
<h1>Top 3 Coins LIVE</h1>
<canvas id="coinChart"></canvas>
    </div>
{{#BTC}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/BTC}}
{{#ETH}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/ETH}}
{{#USDT}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/USDT}}
<h4>Want to know which coin might be going to the moon?</h4>

{{#unless isLoggedIn}}
<br />
<a class='btn' href='/login'>Login or Signup</a>
{{/unless}}
<script src="/js/main.js"></script>