<h1>Home</h1>
    <!-- Column Chart for top 3 coins -->
    <div class="container1" id="coinchart">
<h1>Top 3 Coins LIVE</h1>
<canvas id="coinChart"></canvas>
    </div>
{{#BTC}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/BTC}}
{{#ETH}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/ETH}}
{{#USDT}}
<h2>{{name}}</h2>
<p>{{quote.USD.price}}</p>
{{/USDT}}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!</p>
{{#unless isLoggedIn}}
<br />
<a class='btn' href='/login'>Sign In</a>
{{/unless}}
<script src="/js/main.js"></script>