<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>

<body id="grad">

  <!-- header with title and login button -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">CRYPTOPUNX</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login.html">LOGIN</a></li>
        <li><a href="/login.html">SIGN UP</a></li>
      </ul>
    </div>
  </nav>
  <div class="row1">
    <div class="col s12 m6">
      <div class="card blue-white darken-1">
        <div class="card-content black-text">
          <span class="card-title">TOP 30 PERFORMING CRYPTOCURRENCIES</span>
        </div>
      </div>
    </div>

    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100px 400px;
        gap: 10px;
        background-color: #090d29;
        padding: 10px;
        color: black;
      }

      .grid-container>div {
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
    </style>
    <div class="grid-container">

      {{#each coins}}
      <h2>{{name}}</h2>
      <p>{{symbol}}</p>
      <p>{{quote.USD.price}}</p>
      <p>{{market_cap}}</p>
      <p>{{circulating_supply}}</p>
      {{/each}}
    </div>

    <div class="center">
      <div class="btn-1">
        <a href=""><span>Home</span></a>
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>