{{#if isLoggedIn}}
<h2>Welcome, {{user.username}}!</h2>
<p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<!-- 3 crypto cards displaying price at the top (copy from index.html) -->
{{!-- will be replaced with coin API information --}}
<div class = "rowcontent">
  {{#BTC}}
  <div class="flex-container">
    <div class="row" id="ETHER">
      <div class="column">
        <div class="card" id="ethereumCard">
          <div class="card-image">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.tradingview.com%2Fu%2FUCikR7Uz_mid.png&f=1&nofb=1">
            <span class="card-title" id="ethereumName">{{name}}<p>{{quote.USD.price}}</p></span>
          </div>
          <div class="card-action">
            <a href="#">ABOUT {{name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/BTC}}

  {{#ETH}}
  <div class="flex-container">
    <div class="row" id="ETHER">
      <div class="column">
        <div class="card" id="ethereumCard">
          <div class="card-image">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.tradingview.com%2Fu%2FUCikR7Uz_mid.png&f=1&nofb=1">
            <span class="card-title" id="ethereumName">{{name}}<p>{{quote.USD.price}}</p></span>
          </div>
          <div class="card-action">
            <a href="#">ABOUT {{name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/ETH}}

  {{#USDT}}
  <div class="flex-container">
    <div class="row" id="ETHER">
      <div class="column">
        <div class="card" id="ethereumCard">
          <div class="card-image">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.tradingview.com%2Fu%2FUCikR7Uz_mid.png&f=1&nofb=1">
            <span class="card-title" id="ethereumName">{{name}}<p>{{quote.USD.price}}</p></span>
          </div>
          <div class="card-action">
            <a href="#">ABOUT {{name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/USDT}}
</div>


<div class="container" id="inputBox">

  <!-- user input for their forum post + submit button -->
  <div class="row center box">
    <form class="col s12">
      <div class="row">
        <p class="bold">Add a post</p>
        <div class="input-field col s12 inputbg">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1"></label>
        </div>
      </div>
    </form>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  </div>


  <!-- display posts that were previously submitted by user/other users here -->
  {{#each postData}}
  <div class="col s12 m6">
    <div class="card posts">
      <div class="card-content black-text">
        <span class="card-title">{{name}}</span>
        <p>{{description}}</p>
      </div>
      <div class="card-action right-align">
        <a href="#">Delete</a>
      </div>
    </div>
  </div>
  {{/each}}


</div>
<script src="/js/userpage.js"></script>